
#todoList{
    list-style-type: decimal;
    margin-top: 25px;
}
.listItem{
    border: 1px solid gray;
    height: 20px;
    font-weight: bold;
    padding: 5px;
    box-sizing: content-box;
}

.is-done {
    color: green;
    text-decoration: line-through;
}

.btn {
    padding: 3px !important;
}