:root{
    --main-green-color: #87d83d;
    --main-bg-color: #333333;
    --main-orange-color: #fb7603;
    --main-blue-color: #5596e9;
}

body {
    margin: 0;
    padding: 0;
}

/*  MENU */

nav {
    background-color: var(--main-bg-color);
}

nav  ul {
    list-style-type: none;
    height: 35px;
}

nav ul li {
    display: inline-block;
    height: 35px;
}

nav ul li a:link, nav ul li a:visited {
    color: white;
    text-decoration: none;
    height: 100%;
    text-transform: capitalize;
    font-size: 14px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    padding-right: 10px;
} 
/*
nav ul li a.active {
    background-color: var(--main-green-color);
}*/

nav ul li a:hover {
    background-color: var(--main-green-color);
}

/* slider */

.slider {
    height: 250px;
    width: 100%;
    background: url('../img/bg.jpg');
    /*background-size: cover; */
    /*background-position-x: left;
    background-position-y: bottom;*/
    background-position: right top;
    background-repeat: no-repeat;
}